<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUR TEAM SECTION</title>

<link rel="stylesheet" href="css/finalabout.css">
</head>
<body>
    <header>
        
    <nav>
        <h4><a href="/" style="color: black; text-decoration:none">Exploremates</a></h4>
        <ul>
            <li><a href="/discover">Discover</a></li>
            <li><a href="/#hd">Holiday Ideas</a></li>
            <li><a href="/image">Image Gallary</a></li>
            <li><a href="/finalabout">About Us</a></li>
            <li><a href="/discover#contactUs">Contact Us</a></li> 
            <li><a href="/user_login"><%= log %></a></li>
        </ul>
    </nav>
    <section>
        <h1 class="title">our team</h1>
        <div class="team-row">
            <div class="member">
                <img src="/images/patil.jpg" alt="">
                <h2>Bhavesh Patil</h2>
                <p>Position:Frontend Developer</p>
            </div>
            <div class="member">
                <img src="/images/tanmay.jpg" alt="">
                <h2>Tanmay Mahale</h2>
                <p>Position:Frontend Developer</p>
            </div>
            <div class="member">
                <img src="/images/shardul.jpg" alt="">
                <h2>Shardul Deore</h2>
                <p>Position:Frontend Developer</p>
            </div>
           
        </div>

        <div class="team-row">
            
            <div class="member">
                <img src="/images/hima.jpg" alt="">
                <h2>Himalaya Kharate</h2>
                <p>Position:Backend Developer</p>
            </div>
            <div class="member">
                <img src="/images/vakare.jpg" alt="">
                <h2>Bhavesh Vakare</h2>
                <p>Position:Designer</p>
            </div>
        </div>
    </section>
    
    </header>


</body>
</html>