<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/homepg.css">
    <link rel="stylesheet" href="./css/media.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    


</head>
<body>
    <header>
        <nav>
            <h4>Exploremates</h4>
            <ul id="menu_box">
                <li><a href="discover.html">Discover</a></li>
                <li><a href="#hd">Holiday Ideas</a></li>
                <li><a href="@">Image Gallary</a></li>
                <li><a href="./aboutus.html">About Us</a></li>
                <li><a href="discover.html#contactUs">Contact Us</a></li>
                <li><a href="/user_login" class="log-out-btn"><%= log %></a></li>
            </ul>
            <i class="bi bi-three-dots"></i>
        </nav>
        <div class="content">
            <div class="cont_box">
                <h1>Wanderlust and Adventures Await</h1>
                <p>Excitement beckons, wanderlust whispers, adventures unfold in life's vast journey.</p>
                <a href="/discover.html"><button >Start Your Search</button></a>
                
            </div>
            <div class="trip_box">
                <div class="search_box">
                    <div class="card">
                        <h4>Location <i class="bi bi-caret-down-square-fill"></i></h4>
                        <input type="text" placeholder="Enter Your Destination">
                    </div>     
                    <div class="card">
                        <h4>Date<i class="bi bi-caret-down-square-fill"></i></h4>
                        <input type="date">
                    </div>     
                    <div class="card">
                        <h4>People</h4>
                        <input type="number" placeholder="How Many People">
                    </div>
                    <input type="button" value="Explore Now">     
                </div>
                <div class="travel_box">
                     <h4>Places To Travel</h4>
                     <div class="cards">
                        <div class="card">
                            <h3>Maharashtra <!--<img src="maharashtra.png" alt="">--></h3>
                            <img src="images/mumbai.jpg" alt="mumbai city">
                            <div class="btn_city">
                                <a href="/sight?id=1zx6wujvklr3ea067">Read Now</a>
                                <h5>Mumbai Central</h5>
                            </div>
                        </div>
                        <div class="card"><h3>Kerla <!--<img src="maharashtra.png" alt="">--></h3>
                            <img src="images/Alappuzha.jpg" alt="Alappuzha">
                            <div class="btn_city">
                                <a href="@">Read Now</a>
                                <h5>Alappuzha</h5>
                            </div></div>
                        <div class="card"><h3>Kashmir <!--<img src="maharashtra.png" alt="">--></h3>
                            <img src="images/manali.jpg" alt="manali">
                            <div class="btn_city">
                                <a href="@">Read Now</a>
                                <h5>Manali</h5>
                            </div></div>
                        <div class="card"><h3>Delhi <!--<img src="maharashtra.png" alt="">--></h3>
                            <img src="images/taj_mahal.jpg" alt="taj_mahal">
                            <div class="btn_city">
                                <a href="@">Read Now</a>
                                <h5>Taj Mahal</h5>
                            </div></div>
                     </div>
                </div>
            </div>
        </div>
    </header>
    <div class="holiday_ideas" id="hd">
        <h1>Best Holiday Ideas</h1>
        <p>choose Your Next Destination</p>
        <div class="cards dy_card">
            <!-- Cards are dynamically created -->
        </div>
    </div>
    <div class="destinations">
        <div class="dest_box">
            <h4>Our Destinations</h4>
            <p>choose Your Next Destination</p>
            <li>Maharashtra</li>
            <li>Rajasthan</li>
            <li>Uttarakhand</li>
            <li>Delhi</li>
            <li>Himachal</li>
            <li>Panjab</li>
            <li>Goa</li>
            <li>Kerla</li>
            <button>More Info</button>
        </div>
        <div class="img_box">
            <img src="images/airplane.jpg" alt="">
            <div class="msg">
                <h4>Maharashtra</h4>
                <div class="cont">
                    <div class="icon">
                        <i class="bi bi-bookmark-heart-fill"><span>22304</span></i>
                        <i class="bi bi-chat-fill"><span>14590</span></i>
                    </div>
                </div>    
            </div>
            <div class="msg">
                <h4>Rajasthan</h4>
                <div class="cont">
                    <div class="icon">
                        <i class="bi bi-bookmark-heart-fill"><span>18567</span></i>
                        <i class="bi bi-chat-fill"><span>10405</span></i>
                    </div>
                </div>    
            </div>
        </div>
    </div>


    
    <footer>
        <h2>Subscribe & <br>get daily updates</h2>
        <p>After subscription you will get daily updates of trending destinations.</p>
		<div class="input">
			<form class="call-me-form">
				<input type="text" placeholder="Phone number" aria-label="Search">
				<button type="submit">Call me</button>
			  </form>
		</div>
		<div class="input">
			<form class="sub-form">
				<input type="text" placeholder="Email" aria-label="Search" id="email" style="margin-top: 10px;">
				<button type="submit">Subscribe</button>
			  </form>
		</div>
        <div class="col-2 d-flex justify-content-end align-items-center" >
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdeSmGCOlInBTlybifUk6a3i_gSlbYS_gLkT0yIcP2pBV9pyw/viewform?usp=sf_link"><button class="btn btn-primary" style="text-wrap: nowrap; margin:10px;">Feedback</button></a>
        </div>
        <ul>
            <li>12<br><h6>Year Serving the travel Industry</h6></li>
            <li>964<br><h6>India Based<br>Partnership</h6></li>
            <li>14<br><h6>Industry Awards since 2011</h6></li>
            <li>6340<br><h6>Subscribed</h6></li>
        </ul>
    </footer>
    <script src="js/homepg.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/posts.js"></script>
<script src="js/emails.js"></script>
<script src="js/main.js"></script>
<script src="js/main2.js"></script>
</body>
</html>